<%- include("partials/header") %>
<div class="errorMsg">
	<h1>⚠️ PAGE NOT FOUND ⚠️</h1>

	<p>Please make sure you entered the correct post name in the URL.</p>
</div>

<%- include("partials/footer") %>
